// component styles are encapsulated and only applied to their component
$height: 50px;
home {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-flow: row;
}

.left {
  flex: 0 0 336px;
  height: 100%;
}

.right {
  flex: 1 1 0px;
  height: 100%;
}

.heading {
  background-color: yellow;
  height: $height;
}

.device-groups {
  position: absolute;
  display: flex;
  width: 336px;
  z-index: 1;
  background-color: indianred;
  height: calc(100% - #{$height});
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.search {
  height: $height;
  width: 100%;
  background-color: green;
}

.device-list {
  position: absolute;
  background-color: blue;
  height: calc(100% - #{$height});
  width: calc(100% - 336px);
  transition: all 0.5s ease-in-out;
  padding: 10px;
  overflow-y: scroll;
  .grid {
    background-color: ivory;
    h1 {
      margin: 0;
    }
  }
}

.groups-closed {
  .device-groups {
    height: calc(100% - 100%);
  }
  .device-list {
    transform: translateX(-336px);
    width: 100%;
  }
}